extends layout

block content
  p Client ID:
    input#cid.block
  p Please build your request:
  div#inputlist
  div#buttons.margintop
    button#add Add
    button#remove Remove last
    button#set Finish
    span#createspan.block
      button#create(disabled) Request table creation
      span#srvresponse.padding-5px
    span#postspan.block
      button#post(disabled) Submit log
      span#valresponse.padding-5px

  script(src="/javascripts/client.js")
